# Ruleset you want to use
ruleset: hungarian

##
# You can define your own ruleset here
##
#custom_rules:
#    "ê": "e"
#    "ĉ": "cx"

##
# Options
##
options:
    lowercase: true # if true, uppercase characters converted to lowercase
    # regexp: '/([^A-Za-z0-9]|-)+/'
    # separator: '-'
    # trim: true
